.bsp/

# Mac
.DS_Store

# Eclipse
bin/
.settings/
.classpath

# Intellij
.idea/
target/

# Gradle
.gradle/
build/
pom.xml

# sbt
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
logs/
project/.sbtserver
.sbtserver/

# Scala-IDE specific
src\main\scala\de\htwg\se\battleship\model\TestSheet.sc
src\main\scala\de\htwg\se\battleship\model\ModelWorksheet.sc
.scala_dependencies
*.worksheet
.sc

# Sonar
.sonar/

# Application
VierGewinnt.log

# Application backup
battlefieldP1.json
battlefieldP2.json
target/streams/compile/_global/_global/discoveredMainClasses/data
*/metals.lock.db
target/streams/compile/compileIncremental/_global/streams/out
project/.bloop/connectfour-build.json
target/streams/compile/dependencyClasspath/_global/streams/export
.metals/*
.bloop/*
